<div class="demo-wrapper">
    <div class="demo-header">
        <div class="container">
            <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
                <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
                    <div class="logo"><img src="assets/images/logo-white.png" alt=""> </div>
                    <div class="text-intro">
                        <h1><span class="powerful">POWERFUL</span><br>Angular Material<br><span class="theme">Ecommerce Theme</span> </h1>
                    </div>
                    <ul fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
                        <li fxLayout="row"><i class="material-icons">check</i><span>Quality check by Envato</span> </li>
                        <li fxLayout="row"><i class="material-icons">check</i><span>Lifetime regular updates</span></li>
                        <li fxLayout="row"><i class="material-icons">check</i><span>6 months free support</span></li>
                        <li fxLayout="row"><i class="material-icons">check</i><span>Full access to all files included in the package</span></li>
                    </ul>
                    <div class="button">
                        <a target="_blank" href="https://themeforest.net/item/sophia-angular-material-ecommerce-template/24219775" class="ped-btn left-btn">Buy Now</a>
                    </div>
                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="60" class="right-panel">
                  <img src="assets/images/demo/laptop.png" alt="">
              </div> -->
            </div>
        </div>
    </div>
bb{{dateModelTokenInfo| json}}aa
{{dateModelCoreSite|json}}
cc
    <div *ngIf="!loding && dateModelTokenInfo?.IsSuccess==false" class="likeUs sec-padding">
        <div class="container">
            <div class="theme-features">
                <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
                    <div class="item">
                        <h2>برروز خطا در اجرای </h2>
                        <ul>
                            <li fxLayout="row"><i class="material-icons">check</i><span>{{dateModelTokenInfo.ErrorMessage}}</span> </li>
                            <li fxLayout="row"><i class="material-icons">check</i><span>Call Admin</span></li>
                            <li fxLayout="row"><i class="material-icons">check</i><span>6 months free support</span></li>
                            <li fxLayout="row"><i class="material-icons">check</i><span>Full access to all files included in the package</span></li>
                        </ul>
                    </div>
                </mat-card>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p>Copyrights © 2020 by NTK co. All Rights Reserved. </p>
        </div>
    </div>
</div>
