<div class="demo-wrapper">
  <div *ngIf="loadingCurrentSite" class="demo-header">
    <div class="container">
      <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
          <div class="logo"><img src="assets/images/logo-white.png" alt=""> </div>
          <div class="text-intro">
            <h1><br>در حال بارگزاری ...<br></h1>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="dateModelCoreSite?.IsSuccess" class="demo-header">
    <div class="container">
      <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
          <div class="logo"><img src="assets/images/logo-white.png" alt=""> </div>
          <div class="text-intro">
            <h1><br>{{dateModelCoreSite.Item.Title}}<br></h1>
          </div>
          <ul fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
            <li fxLayout="row" *ngIf="dateModelCoreSite.Item.Description?.length>0"><i class="material-icons">check</i><span>{{dateModelCoreSite.Item.Description}}</span>
            </li>
            <li fxLayout="row"><i class="material-icons">check</i><span>Lifetime regular updates</span></li>
            <li fxLayout="row"><i class="material-icons">check</i><span>6 months free support</span></li>
            <li fxLayout="row"><i class="material-icons">check</i><span>Full access to all files included in the
                package</span></li>
          </ul>
          <div class="button">
            <a href="#" (click)="onActionStart()" routerLinkActive="router-link-active"
              class="ped-btn left-btn">ورود</a>
          </div>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="60" class="right-panel">
                <img src="assets/images/demo/laptop.png" alt="">
            </div> -->
      </div>
    </div>
  </div>
  <div *ngIf="!loadingCurrentSite && dateModelTokenInfo?.IsSuccess==false" class="likeUs sec-padding">
    <div class="container">
      <div class="theme-features">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
          <div class="item">
            <h2>برروز خطا در اجرای </h2>
            <ul>
              <li fxLayout="row"><i class="material-icons">check</i><span>{{dateModelTokenInfo.ErrorMessage}}</span>
              </li>
              <li fxLayout="row"><i class="material-icons">check</i><span>اتصال به اینترنت را بررسی کنید.</span></li>
            </ul>
            <div class="button">
              <a href="#" (click)="DataCurrentSite()" routerLinkActive="router-link-active"
                class="ped-btn left-btn">تلاش مجدد</a>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <p>{{(dateModelCoreSite?.Item?.Copyright?.length>0?dateModelCoreSite?.Item?.Copyright:'Copyrights © 2020 by NTK co. All Rights Reserved.')}}  </p>
    </div>
  </div>
</div>
