<div class="blog-list">
  <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="blog-list-wrapper sec-padding">
          <div fxFlex="100" fxFlex.gt-sm="70" class="main-blog-panel">
              <div *ngFor="let item of dataModelResult.listItems" class="single-blog-list" fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlex="100" fxFlex.gt-sm="50" class="image-box">
                      <a  [routerLink]="['/news/details/', item.Id]"><img src="{{item.LinkMainImageIdSrc}}" alt=""> </a>
                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="50" class="text-box">
                      <a [routerLink]="['/news/details/', item.Id]">
                          <h4> {{item.Title}} </h4>
                      </a>
                      <ul fxLayout="row">
                          <li><i class="material-icons">access_time </i>{{item.CreatedDate | date}}</li>
                          <li><i class="material-icons">person </i>Code: {{item.CreatedBy}}</li>
                          <li><i class="material-icons">sms</i>05 Comments</li>
                      </ul>
                      <p [innerHTML]="item.Description"></p>
                  </div>
              </div>

          </div>
          <div fxFlex="100" fxFlex.gt-sm="30" class="sidebar">
              <div class="blog-sidebar">
                  <div class="search mb-30">
                      <input class="form-control" placeholder="Search..." type="search">
                      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> </button>
                  </div>
                  <div class="single-sidebar-widget mb-30">
                      <div class="post-widget">
                          <div class="title">
                              <h4>Latest POst</h4>
                              <div class="decor-line"></div>
                          </div>
                          <ul>
                              <li *ngFor="let item of dataModelLastResult.listItems" fxLayout="row">
                                  <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box"><img src="{{item.LinkMainImageIdSrc}}" alt="Awesome Image"></div>
                                  <div fxFlex="100" fxFlex.gt-sm="70" class="text-box">
                                      <h5><a  [routerLink]="['/news/news-details/', item.Id]">{{item.Title}}</a></h5><span>{{item.CreatedDate| date}}</span>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="single-sidebar-widget mb-30">
                      <div class="post-widget">
                          <div class="title">
                              <h4>Text widget</h4>
                          </div>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch itecto beatae vitae dict eaque ipsa quae.</p>
                      </div>
                  </div>
                  <div class="single-sidebar-widget mb-30">
                      <div class="tags-widget post-widget">
                          <div class="title">
                              <h4>Tags widget</h4>
                          </div>
                          <ul class="list-inline">
                              <li *ngFor="let item of dataModelTagResult.listItems"><a  [routerLink]="['/news/listtag/', item.Id]">{{item.Title}}</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
