<div class="category-contant">
    <ul fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
        <li fxLayout="column"><a class="no-brd" [routerLink]="['/products/all']"><i class="material-icons">dehaze</i>همه کالاها</a></li>
        <li fxLayout="column"><a [routerLink]="['/products/Headphones']"><i class="material-icons">headset</i> Headphones</a></li>
        <li fxLayout="column"><a [routerLink]="['/products/Laptops']"><i class="material-icons">laptop</i>Laptops</a></li>

        <li *ngFor="let item of dataModelResult.listItems">
          <a [routerLink]="['/products/Smartphones']"><i class="material-icons">smartphone</i>{{item.Name}}</a>
        </li>

        <li><a [routerLink]="['/products/Cameras']"><i class="material-icons">photo_camera</i>Cameras</a></li>
        <li><a [routerLink]="['/products/Tv & Audio']"><i class="material-icons">tv</i>Tv & Audio</a></li>
        <li><a [routerLink]="['/products/Watches']"><i class="material-icons">watch</i>Watches</a></li>
    </ul>
</div>
