<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><img src="{{(optionCoreSiteModel?.aboutUsLinkImageIdSrc.length>0 ?optionCoreSiteModel?.aboutUsLinkImageIdSrc:'assets//images/logo-02-01.png' )}} " alt="Awesome Image"></a>
          <p>{{optionCoreSiteModel?.aboutUsDescription}}</p>
          <div class="link"><a href="#">درباره ما</a> </div>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>Services</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">Hotel Growth</a></li>
                  <li><a href="#">Hotel Loan</a></li>
                  <li><a href="#">Financial Planning</a></li>
                  <li><a href="#">Insurance Consulting</a></li>
                  <li><a href="#">Retirenment Planing</a></li>
                  <li><a href="#">Tax Planing</a></li>
                </ul>
            </div>
          </div>


        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>مشترک شدن در خبرنامه</h5>
          </div>
          <form action="#">
            <p>آخرین به روزرسانی ها و پیشنهادات را دریافت کنید.</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button type="submit" class="ped-btn-footer">ما را دنبال کنید</button>
            </div>
          </form>
        </div>


          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>تماس با ما</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p> {{optionCoreSiteModel?.aboutUsAddress}}</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>{{optionCoreSiteModel?.aboutUsTel}} /  {{optionCoreSiteModel?.aboutUsEmail}}</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="{{optionCoreSiteModel?.aboutUsEmail}}">{{optionCoreSiteModel?.aboutUsEmail}}</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
              <li><a href="{{optionCoreSiteModel?.aboutUsLinkFacebook}}"><i class="fa fa-facebook"></i></a></li>
              <li><a href="{{optionCoreSiteModel?.aboutUsLinklinkedin}}"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="{{optionCoreSiteModel?.aboutUsLinkTwitter}}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{{optionCoreSiteModel?.aboutUsLinkGooglePlus}}"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>






      </div>
  </div>
</footer>
